<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Customers</h1>
    <div><a href="/">Back to Home</a></div>
    <div><a href="/customers/new">New Customer</a></div>
    <ul>
        {% for customer in customers %}
        <li>{{ customer.acct_ref }} - {{ customer.name }} - {{ customer.email }}</li>
        {% endfor %}
    </ul>
</body>
</html>

